<div class="page-wrapper">
  <header class="control-panel">
    <div class="left-section">
      <button routerLink="/" class="nav-btn">← Back to Menu</button>
      <h2 class="algo-title">Merge Sort</h2>
    </div>

    <div class="center-section">
      <div class="input-group">
        <label>Size:</label>
        <input type="number" [(ngModel)]="request.size" min="5" max="100">
      </div>
      <div class="order">
        <label>Order:</label>
        <select [(ngModel)]="request.order">
          <option value="1">Sorted</option>
          <option value="2">Reverse Sorted</option>
          <option value="3">Random</option>
          <option value="4">From File</option>
        </select>
      </div>
      <div class="input-group">
        <label>Speed (ms):</label>
        <input type="range" [(ngModel)]="speed" min="10" max="1000">
      </div>
      @if (request.order == 4) {
      <label for="txtUpload">Upload a Text File: </label>
                <input 
                    type="file" 
                    id="txtUpload" 
                    accept=".txt" 
                    (change)="onFileSelected($event)" 
                />
              }
    </div>

    <div class="right-section">
      <button (click)="initalize()" class="action-btn run">initalize</button>
      <!-- <button (click)="start()" class="action-btn start">Start</button> -->
      <button (click)="autoRun()" class="action-btn auto-run">Auto Run</button>
      <button (click)="stopAutoRun()" class="action-btn stop">Stop</button>
      <!-- <button class="action-btn step">Step Mode</button> -->

      <button class="action-btn next-step" (click)="nextStep()">Next Step</button>
      <button class="action-btn prev-step" (click)="prevStep()">Previous Step</button>

       
    </div>
  </header>

  <main class="visualizer-window">
    <div class="bars-container">
      @for (value of currentArray(); track $index) {
        <div 
          class="bar" 
          [style.height.%]="getBarHeight(value)"
          [style.bottom.%]="getBarBottom(value)"
          
          [class.comparing]="$index === ptr1() || $index === ptr2()"
          [class.swapping]="isSwapping() && ($index === ptr1() || $index === ptr2())">
          <span class="bar-value" >{{ value }}</span>
        </div>
      }
    </div>
    
    <div class="stats-footer">
      <span>Comparisons: {{ totalComparisons }}</span>
      <span>Interchanges: {{ totalInterchanges }}</span>
    </div>
  </main>
</div>
<!-- [style.height.%]="(value / maxVal) * 100" -->