# ==========================================
# 1. Angular / Node.js
# ==========================================
node_modules/
dist/
.angular/
tmp/
out-tsc/
bazel-out/
.npm
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# 2. Spring Boot / Java
# ==========================================
target/
bin/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
# If using Gradle
.gradle/
build/

# ==========================================
# 3. IDEs & Editors
# ==========================================
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
*.swp
*.swo
.DS_Store
Thumbs.db

# ==========================================
# 4. Logs & Temp
# ==========================================
logs/
*.log
temp/
