<div class="container">
    <h1 class="title">Benchmark</h1>
    <p class="description">Compare the performance of different sorting algorithms side by side.</p>

    <div class="input">
        <label for="arraySize">Array Size:</label>
        <input type="number" id="arraySize" [(ngModel)]="request.size" min="5" max="1000" step="10">

        <label for="numOfRuns">Number of Runs:</label>
        <input type="number" id="numOfRuns" [(ngModel)]="request.runs" min="1" max="10000" step="1">

        <label for="inputType">Input Type:</label>
        <select id="inputType" [(ngModel)]="request.order">
            <option value="3">Random</option>
            <option value="1">Sorted</option>
            <option value="2">Reverse Sorted</option>
            <option value="4">FromFile</option>
        </select>

        @if (request.order === 4) {
            <label for="txtUpload">Upload a Text File: </label>
            <input 
                type="file" 
                id="txtUpload" 
                accept=".txt" 
                (change)="onFileSelected($event)" 
            />
        }
        
        <button (click)="runBenchmark()">Run Benchmarks</button>
    </div>
    <table>
		<thead>
			<tr>
				<th>Algorithm Name</th>
				<th>Array Size</th>
				<th>Number of Runs</th>
                <th>Generation Mode</th>
				<th>Min Time</th>
                <th>Max Time</th>
                <th>Average Time</th>
				<th>Comparisons</th>
                <th>Swaps</th>
			</tr>
		</thead>
		<tbody>
            @for (value of Data(); track $index) {
                <tr>
                    <td>{{ value.algo_name }}</td>
                    <td>{{ value.size }}</td>
                    <td>{{ value.runs }}</td>
                    <td>{{ value.generation_mode }}</td>
                    <td>{{ value.data.minTime | number:'1.0-2' }} ns</td>
                    <td>{{ value.data.maxTime | number:'1.0-2' }} ns</td>
                    <td>{{ value.data.avgTime | number:'1.0-2' }} ns</td>
                    <td>{{ value.data.comparisons }}</td>
                    <td>{{ value.data.swaps }}</td>
                </tr>
            }
		</tbody>
	</table>
</div>